@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'LazyDog';
    src: url('/assets/fonts/lazy_dog.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}